:root {
	--blue: #0079d3;
	--grey: #dae0e6;
	--primary: #0079d3;
}

/* // import league spartan font */
@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Spartan:wght@700&family=Titillium+Web:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Verdana&display=swap");
.App {
	background: #dae0e6;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.navbar {
	border: 1px solid black;
	background: #ffff;
	padding: 10px;
	min-height: 68px;
	position: sticky;
	width: 100%;
	z-index: 1;
}
body {
	font-family: "Verdana", sans-serif;
}
.main {
	width: fit-content;
	margin: 0 auto;
	padding: 20px;
	background: #dae0e6;
	display: grid;
	grid-template-columns: 3fr 3fr 0.1fr 310px;
	grid-template-rows: auto;
	grid-template-areas:
		"main main . sidebar"
		"comments comments . sidebar"
		"loading loading loading loading";
}

.articles {
	grid-area: main;
	max-width: 640px;
}

.article-body {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* number of lines to show */
	-webkit-box-orient: vertical;
	font-size: 0.9em;
}

.article-body-full {
	width: auto;
}

.article-card {
	/* border: 1px solid black; */
	margin: 0 auto 10px auto;
	padding: 10px;

	min-width: 100%;
	background: #ffff;
}

.article-card:hover {
	box-shadow: #000000 0px 0px 2px;
	/* border: 1px solid #000000; */
	/* cursor: pointer */
}

.article-card-info {
	/* margin: 10px auto; */
	display: block ruby;
	/* background: #ffff; */
	padding-bottom: 10px;
	font-size: 0.8em;
}

.like-button {
	/* border: 1px solid black; */
	padding: 5px;
	display: inline-block;
	border-radius: 5px;
}

.fa-arrow-down:hover {
	color: rgb(240, 51, 51);
	cursor: pointer;
}
.comments-button {
	/* border: 1px solid black; */
	/* margin-left: px; */
	padding: 5px;
	display: inline-block;
	border-radius: 5px;
}

.comment-author {
	font-weight: bold;
	display: inline-block;
}

.post-comment-container {
	margin: 0 auto;
	padding: 10px;
	background: #ffff;
	width: 100%;
}

.post-comment-button {
	background: var(--blue);
	padding: 2px 7px;
	display: inline-block;
	border-radius: 10px;
	color: #ffff;
	width: 100px;
}

#comment {
	width: 100%;
	border: 1px solid black;
	margin: 5px 0px;
	padding: 5px;
	display: inline-block;
	border-radius: 5px;
	height: 150px;
}

.comment-body {
	border-left: rgb(165, 161, 161) solid 2px;
	padding: 5px;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 0px;
}

.comment-container {
	/* border-bottom: 1px solid black; */
	padding: 5px;
	background: #ffff;
	width: 100%;
}

.user-info {
	margin: 0;
}

.user-avatar {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	margin: 0 10px;
	/* border: rgb(0, 0, 0) solid 1px; */
	box-shadow: 0 0 4px var(--blue);
	transform: scale(1.3);
}

.votes {
	margin: 0 2px;
}

.disabled-link {
	pointer-events: none;
}

.new-button {
	padding: 5px;
	display: inline-block;
	border-radius: 30px;
	/* background: var(--blue); */
}

.popular-button {
	padding: 5px;
	margin-left: 10px;
	display: inline-block;
	border-radius: 30px;
	background: #ffff;
}

.popular-button:hover {
	color: #0079d3;
	cursor: pointer;
}

.popular-button:active {
	color: #0079d3;
}
.fa-arrow-up:hover {
}
.upvote-button {
	background: #ffff;
	padding: 3px;
	margin: 0 2px;
}

.upvote-button:hover {
	color: rgb(0, 26, 255);
	cursor: pointer;
	background: #dae0e6;
}

.controls {
	margin: 0 auto 10px auto;
	display: flex;
	background: #ffff;
	padding: 10px;
	border: 1px solid var(--grey);
	border-radius: 5px;
}

.logo {
	font-family: "Spartan";
	font-weight: 700;
	font-size: 30px;
	color: rgb(0, 0, 0);
	letter-spacing: -1px;
}

.logo-i {
	font-family: "Spartan";
	font-weight: 700;
	font-size: 30px;
	color: #0079d3;
}
/* // underline logo when hovered */
a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}
a:hover {
	color: rgb(0, 0, 0);
	text-decoration: none;
	box-shadow: 0px 5px 0px #0079d3;
}

.loading-icon-container {
	grid-area: loading;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.loading-icon {
	width: 200px;
	height: 200px;
	border: rgb(0, 0, 0) solid 1px;
	transform: scale(0.8);
}

.delete-comment-button {
	padding: 5px;
	display: inline-block;
	border-radius: 30px;
	background: #ffff;
}

.delete-comment-button:hover {
	color: rgb(240, 51, 51);
	cursor: pointer;
}

.sidebar {
	grid-area: sidebar;
	width: 310px;
	height: fit-content;
	background: #ffff;
	z-index: 1;
	padding: 10px;
	border-radius: 5px;
}

.sidebar-topics {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.sidebar-header {
	height: 80px;
	font-weight: bold;
	background: #0079d3;
	margin: -10px -10px 0 -10px;
	border-radius: 5px 5px 0 0;
	color: #fff;
	/* text-align: center; */
	padding: 10px 10px 2px 2px;
}

.topic {
	border-bottom: #dae0e6 solid 1px;
	padding: 10px;
}

.comments {
	grid-area: comments;
}

.comment-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px;
}

.time-elapsed {
	font-size: 0.9em;
	padding: 0 5px;
}

.dropdown {
	background: #ffff;
}

.dropdown-toggle {
	background: #ffff;
	border: none;
	padding: 2px;
	margin: 0;
	content: none;
	border-radius: 2px;
	color: #000000;
	font-size: 1.2em;
	font-weight: bold;
}

.btn-secondary:hover {
	color: #fff;
	background-color: var(--blue);
	border-color: var(--grey);
}

.posting-as {
	font-size: 0.8em;
	font-weight: bold;

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.post-article {
	font-size: 1em;
	padding: 10px;
	border-radius: 5px;
	background: #ffff;
	margin: 0 0 10px 0;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.post-article {
	flex-direction: row;
	width: 100%;
}

.post-article .user-info > img {
	margin-top: -14px;
	width: 40px;
	height: 40px;
}

.post-article .user-info .comment-author {
	display: none;
}

.post-article-input {
	width: 100%;
	margin-left: 5px;
}

input {
	width: 100%;
	color: var(--grey);
}

textarea {
	width: 100%;
	color: var(--grey);
}

.sidebar-button {
	padding: 2px;
	display: inline-block;
	border-radius: 30px;
	background: var(--blue);
}
