.App {
	background: #dae0e6;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.navbar {
	border: 1px solid black;
}

.main {
	max-width: 90%;
	margin: 0 auto;
	padding: 20px;
	background: #dae0e6;
}

.articles {
}

.article-body {
	/* padding: 20px; */
	/* margin: auto; */
	width: auto;
	/* height: 8vh; */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.article-body-full {
	width: auto;
}

.article-card {
	border: 1px solid black;
	margin: 10px auto;
	padding: 10px;

	min-width: 100%;
	background: #ffff;
}

.article-card:hover {
	box-shadow: #000000 0px 0px 5px;
	cursor: pointer;
}

.like-button {
	/* border: 1px solid black; */
	padding: 5px;
	display: inline-block;
	border-radius: 5px;
}

.fa-arrow-up:hover {
	color: rgb(0, 26, 255);
	cursor: pointer;
}

.fa-arrow-down:hover {
	color: rgb(240, 51, 51);
	cursor: pointer;
}
.comments-button {
	/* border: 1px solid black; */
	/* margin-left: px; */
	padding: 5px;
	display: inline-block;
	border-radius: 5px;
}

.comment-author {
	font-weight: bold;
	display: inline-block;
}

.post-comment-container {
	border: 1px solid black;
	margin: 5px auto;
	padding: 10px;
	background: #ffff;
	width: 100%;
}

.post-comment-button {
	border: 1px solid black;
	padding: 5px;
	display: inline-block;
	border-radius: 5px;
}

#comment {
	width: 100%;
	border: 1px solid black;
	margin: 5px 0px;
	padding: 5px;
	display: inline-block;
	border-radius: 5px;
}

.comment-container {
	border-bottom: 1px solid black;
	padding: 10px;
	background: #ffff;
	width: 100%;
}

.user-info {
	margin: 5px auto;
}

.user-avatar {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	margin-right: 10px;
	border: rgb(0, 0, 0) solid 1px;
	transform: scale(1.3);
}

.votes {
	margin: 0 2px;
}
