.App {
	background: #dae0e6;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.navbar {
	border: 1px solid black;
	background: #ffff;
	padding: 10px;
	min-height: 68px;
}

.main {
	max-width: 90%;
	margin: 0 auto;
	padding: 20px;
	background: #dae0e6;
}

.articles {
}

.article-body {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* number of lines to show */
	line-clamp: 2;
	-webkit-box-orient: vertical;
}

.article-body-full {
	width: auto;
}

.article-card {
	/* border: 1px solid black; */
	margin: 10px auto;
	padding: 10px;

	min-width: 100%;
	background: #ffff;
}

.article-card:hover {
	box-shadow: #000000 0px 0px 2px;
	/* border: 1px solid #000000; */
	cursor: pointer;
}

.article-card-info {
	/* margin: 10px auto; */
	display: block ruby;
	/* background: #ffff; */
	padding-bottom: 10px;
	font-size: 0.8em;
}

.like-button {
	/* border: 1px solid black; */
	padding: 5px;
	display: inline-block;
	border-radius: 5px;
}

.fa-arrow-up:hover {
	color: rgb(0, 26, 255);
	cursor: pointer;
}

.fa-arrow-down:hover {
	color: rgb(240, 51, 51);
	cursor: pointer;
}
.comments-button {
	/* border: 1px solid black; */
	/* margin-left: px; */
	padding: 5px;
	display: inline-block;
	border-radius: 5px;
}

.comment-author {
	font-weight: bold;
	display: inline-block;
}

.post-comment-container {
	border: 1px solid black;
	margin: 5px auto;
	padding: 10px;
	background: #ffff;
	width: 100%;
}

.post-comment-button {
	border: 1px solid black;
	padding: 5px;
	display: inline-block;
	border-radius: 5px;
}

#comment {
	width: 100%;
	border: 1px solid black;
	margin: 5px 0px;
	padding: 5px;
	display: inline-block;
	border-radius: 5px;
}

.comment-body {
	border-left: rgb(165, 161, 161) solid 5px;
	padding: 5px;
	margin-left: 17px;
	margin-top: 5px;
}

.comment-container {
	/* border-bottom: 1px solid black; */
	padding: 5px;
	background: #ffff;
	width: 100%;
}

.user-info {
	margin: 5px auto;
}

.user-avatar {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	margin: 0 10px;
	border: rgb(0, 0, 0) solid 1px;
	transform: scale(1.3);
}

.votes {
	margin: 0 2px;
}

.disabled-link {
	pointer-events: none;
}

.new-button {
	padding: 5px;
	display: inline-block;
	border-radius: 30px;
}

.popular-button {
	padding: 5px;
	margin-left: 10px;
	display: inline-block;
	border-radius: 30px;
	background: #ffff;
}

.popular-button:hover {
	color: #0079d3;
	cursor: pointer;
}

.popular-button:active {
	color: #0079d3;
}

.controls {
	margin: 10px auto;
	display: flex;
	background: #ffff;
	padding: 10px;
	border: 1px solid black;
}

/* // import league spartan font */
@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Spartan:wght@700&family=Titillium+Web:wght@900&display=swap");

.logo {
	/* width: 50px; */
	/* height: 50px; */
	/* border: rgb(0, 0, 0) solid 1px; */
	/* transform: scale(0.8); */
	font-family: "Spartan";
	font-weight: 700;
	font-size: 30px;
	color: rgb(0, 0, 0);
	letter-spacing: -1px;
}

.logo-i {
	/* width: 50px; */
	/* height: 50px; */
	/* border: rgb(0, 0, 0) solid 1px; */
	/* transform: scale(0.8); */
	font-family: "Spartan";
	font-weight: 700;
	font-size: 30px;
	color: #0079d3;
}
/* // underline logo when hovered */
a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}
a:hover {
	color: rgb(0, 0, 0);
	text-decoration: none;
	border-bottom: 2px solid #0079d3;
}

.loading-icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.loading-icon {
	width: 200px;
	height: 200px;
	border: rgb(0, 0, 0) solid 1px;
	transform: scale(0.8);
}
